#answer

  -if @response.correct
    %h2{:style => 'color:green; float:left;'} Correct!
  - else
    %h2{:style => 'color:red; float:left;'} Wrong :-(

  -if @more
    #next
      %a.question_link.green.button{:href => '#', :style => 'text-align:left; margin-left:20px;'}Next question &gt;
  -else
    %div{:style => 'float:left; padding:0px 0 20px 20px; margin:15px 0 20px 20px; font-size:2.5em; font-weight:bold;'}
      Finished!
  .clearfix

  #explanation= @question.explanation

  %div= "#{@correct_response_count} of #{@response_count} people (#{@percentage_correct} percent) answered this correctly"
  #progress
    = "You're #{@take.questions_correct} for #{@take.questions_answered}, and "
    -if @more
      = "have #{pluralize((@test.questions.size-@next_question_number+1), 'question')} left."
    -else
      done with the test.
  -if @more

    :javascript
      #{render :partial => 'application/next_question', :locals => {:url => @next_question_url, :bound_link => '.question_link'}}

    =link_to('all comments', comments_test_path(@test))

  - unless @more
    %h5#results
      -if user_signed_in?
        = link_to('View your results', individual_test_results_path(@test.id, @test.to_param, current_user.id, @take.id))
      -else
        To save the results of this test,
        = link_to 'sign up', new_user_registration_path
        or
        = link_to 'log in', new_user_session_path


    -#
      %label{:for => 'link_to_test'} Link to this test
      %input{:id => 'link_to_test', :type => 'text', :value => test_path(@test.id, @test.to_param)}

      %label{:for => 'embed_test'} Embed this test
      %textarea{:id => 'embed_test', :style => 'height:50px;'}= embed_code(@test)

  -if user_signed_in?
    -#=render partial: 'application/comments', locals: {commentable: @question, comment: @comment, comments: @question.root_comments}
    COMMENTS BELONG HERE

  -else
    %p
      = link_to 'Sign up', new_user_session_path
      or
      = link_to 'sign in', new_user_session_path
      to leave comments on questions.
