#answer
  %h4
    -if @response.correct
      Correct!
    - else
      Wrong :-(
  %p><
    = "The answer to the question "
    %strong<= @question.name
    is
    %strong
      - if @question.correct_response == Choice::TRUE
        true.
      - elsif @question.correct_response == Choice::FALSE
        false.
      - elsif @question.is_multiple_choice || @question.is_short_answer
        = @question.correct_choice.name
    -if @question.explanation
      %p{:style => 'padding:10px 0;'}= @question.explanation
  %p= "#{@correct_response_count} of #{@response_count} people (#{@percentage_correct} percent) answered this correctly"
  %p
    -#= "You're #{@take.questions_correct} for #{@take.questions_answered}, and "
    = "You're #{@questions_correct} for #{@questions_answered}, and "
    -if @more
      = "have #{pluralize((@test.questions.size+1-@question_number), 'question')} left."
    -else
      done with the test.
  -if @more
    -if @take && @take.class == Take
      -@next_question_url = question_path(@test.questions[(@question_number-1)], :test_id => @test.to_param, :question_number => @question_number, :take_id => @take.id)
    -else
      -@next_question_url = question_path(@test.questions[(@question_number-1)], :test_id => @test.to_param, :question_number => @question_number)

    #next
      %a.question_link.green.button{:href => '#', :style => 'float:none; text-align:left;'}Next question &gt;
    
    :javascript
      #{render :partial => 'shared/next_question', :locals => {:url => @next_question_url, :bound_link => '.question_link'}}

- unless @more
  %h5
    -if user_signed_in?
      = link_to('View your results', individual_test_results_path(@test.id, @test.to_param, current_user.username, @take.id))
    -else
      If you want to save the results of the test you just took please either
      = link_to_function('sign up', "signupThenGoTo('')")
      or
      = link_to('log in', new_user_session_path)
      
=render :partial => 'shared/comments', :locals => {:commentable => @question, :comment => @comment, :comments => @question.root_comments}