- classes = ['answer', 'text-white'] # , @question.slug
- classes << ((@response.correct) ? "bg-success" : "bg-danger")

.card-body{class: classes.join(' ')}

  - if @already_taken
    %div
      You already answered, and were

  -if @response.correct
    %h2
      Correct!
  - else
    %h2
      Wrong

    %p
      -if @question.kind == Question::TRUEFALSE
        The correct answer is
        %b
          #{@question.correct_response?}.
      - else
        The correct answer is "#{@question.correct_choice.name}."

  .clearfix

  - if @question.explanation
    #explanation
      = @question.explanation

  -# %div= "#{@correct_response_count} of #{@response_count} people (#{@percentage_correct} percent) answered this correctly"

.card-footer.text-muted

  #progress
    = "You're #{@take.questions_correct} for #{@take.questions_answered}, and "

    -if @question.last?
      done.

    -else
      have #{pluralize(@question.remaining_in_test, 'question')} left

      %div.mt-20
        = link_to "Next question", test_question_path(@test, @question.next_question), class: "btn btn-secondary btn-lg mb-10", style: "font-weight: 300;"

    -# =link_to('all comments', comments_test_path(@test))

  -if @question.last?

    %ul.mt-20
      %li
        Show their score: "You got 76% correct."
      %li
        Show social scoring: "You did better than 34% of the people who've taked this test."
      %li
        Challenge friends to take this test [send invites, track them]
      %li
        Create a team so you can see how everyone in a group does

    %i
      = render partial: "tsts/invite", locals: {test: @question.tst}
