-if @test
  %p{:style => "padding:0 0 20px 0;"}
    For the test
    %strong= link_to @test.name, test_path(@test.to_param)

=form_for(@question) do |f|
  =render(:partial => 'shared/errors', :locals => {:errors => @question.errors})
  -if params[:test_id]
    %input{:type => "hidden", :name => "test_id", :value => params[:test_id]}

  .actions
    %p
      =f.label :name, 'Question'
      =f.text_field :name

    %p
      =f.label :description, 'Description (shown when the question is asked)'
      = f.text_area :description, :style => 'height:60px;'

    %p{:style => "padding:10px 0; margin:3px 0; vertical-align:middle"}
      %p The answer to this question is:
      %p
        =f.radio_button :correct_response, Choice::TRUE
        true
      %p
        = f.radio_button :correct_response, Choice::FALSE
        false
      %p
        = f.radio_button :correct_response, Choice::SHORT, :class => 'short_answer'
        short answer
      %p
        = f.radio_button :correct_response, Choice::MULTIPLE, :class => 'multiple_choice'
        multiple choice
        
      #short_answers{:style => "display:none;"}
        %div
          %label{:for => 'short_answer'} Enter a short (less than 10 words) answer
          %input{:id => 'short_answer', :name => 'short_answer', :type => 'text'}
          %p{:style => 'font-style:italic; padding:5px 0 0 0; width: 70%;'}
            If there is more than one possible correct answer (ie, 'Obama' and 'Barack Obama') you can
            = link_to_function('add alternate correct answers.')
          
      #multiple_choices{:style => "display:none;"}
        %div Enter two or more possible answers, and make sure to say which one is correct.
        -1.upto(5) do |i|
          %div
            %label{:for => "a#{i}"}#{i.ordinalize} choice
            %div
              %input{:id => "choice_#{i}", :type => "text", :name => "choice_#{i}"}
              %input{:name => "correct_answer", :class => 'correct_answer', :type => "radio", :value => "choice_#{i}"}
              correct answer?
      =f.label :explanation, 'Explanation (shown after the question is answered)'
      = f.text_area :explanation, :style => 'height:60px;display:block;'
      
      =f.submit(:style => 'clear:both;margin-top:5px;')

:javascript
  $(document).ready(function(){

    // make sure a correct answer was selected.
    $('#new_question').submit(function() {
      if( $('#question_correct_response_2').is(':checked') ) {

        correct_answer_selected = false;
        $.each( $('.correct_answer'), function() {
          if( $(this).is(':checked') ) {
            correct_answer_selected = true;
          }
        });

        if( correct_answer_selected == false ) {
          alert('Please pick one of your answers as correct.');
          return false;
        }
      }
    });

    $('#question_correct_response_0').click(function() {
      $('#multiple_choices').hide('900');
      $('#short_answers').hide('900');
    });

    $('#question_correct_response_1').click(function() {
      $('#multiple_choices').hide('900');
      $('#short_answers').hide('900');
    });

    $('.short_answer').click(function() {
      $('#multiple_choices').hide();
      $('#short_answers').show('900');
      $('#short_answer').focus();
    });
    
    $('.multiple_choice').click(function() {
      $('#short_answers').hide();
      $('#multiple_choices').show('900');
      $('#choice_1').focus();
    });
  });