-if @test
  %p{:style => "padding:0 0 10px 0;"}
    For the test
    %strong= link_to @test.name, test_path(@test.id, @test.to_param)

-#=form_for test_questions_path(@test) do |f|
= form_with model: @question, url: test_questions_path(@test) do |f|
  =render(:partial => 'application/errors', :locals => {:errors => @question.errors})
  -if params[:test_id]
    %input{:type => "hidden", :name => "test_id", :value => params[:test_id]}

  .actions
    .field
      =f.label :name, 'Question'
      =f.text_field :name, autofocus: true, class: 'form-control'

      %p{:style => "padding:10px 0; margin:3px 0; vertical-align:middle"}
        %p The answer to this question is:
        %p
          =f.radio_button :correct_response, Choice::TRUE
          =f.label "correct_response_#{Choice::TRUE}", 'true', :style => 'display:inline;'
        %p
          =f.radio_button :correct_response, Choice::FALSE
          =f.label "correct_response_#{Choice::FALSE}", 'false', :style => 'display:inline;'
        %p
          =f.radio_button :correct_response, Choice::SHORT, :class => 'short_answer', :checked => (@short_answer) ? 'checked' : 'false'
          =f.label "correct_response_#{Choice::SHORT}", 'short answer', :style => 'display:inline;'
        %p
          =f.radio_button :correct_response, Choice::MULTIPLE, :class => 'multiple_choice', :checked => (@multiple_choice) ? 'checked' : 'false'
          =f.label "correct_response_#{Choice::MULTIPLE}", 'multiple choice', :style => 'display:inline;'


        #short_answers{:style => (@short_answer) ? '' : 'display:none;'}
          %div{:style => 'padding-bottom:10px; margin-bottom:10px; border-bottom: 1px solid #ddd;'}

            .field.mt-20
              %label{for: 'short_answer'}
                Enter a short (less than 10 words) answer
              %input{id: 'short_answer', name: 'short_answer', type: 'text', class: 'form-control', value: (@short_answer) ? @question.choices.first.name : ''}

            %p{:style => 'font-style:italic; padding:5px 0 0 0; width: 70%;'}
              If there is more than one possible correct answer (ie, 'Obama' and 'Barack Obama') you can
              = link_to 'add alternate correct answers.', "#"

        #multiple_choices{:style => (@multiple_choice) ? '' : 'display:none;'}
          %div
            Enter two or more possible answers, and make sure to say which one is correct.
          -if @multiple_choice
            -@question.choices.each_with_index do |choice, i|
              %div
                -# rather than using i+1 for the choice id, should probably use the actual choice.id,
                -# so they can be updated in place.

                %label{:for => "choiceupdate_#{choice.id}"}#{(i+1).ordinalize} choice
                %div
                  -# %input{:id => "choice_#{i+1}", :type => "text", :name => "choice_#{i+1}", :value => choice.name}
                  %input{:id => "choiceupdate_#{choice.id}", :type => "text", :name => "choiceupdate_#{choice.id}", :value => choice.name}
                  %input{:name => "correct_answer", :class => 'correct_answer', :type => "radio", :value => "choiceupdate_#{choice.id}", :checked => (@question.correct_choice.id == choice.id)}
                  correct answer?
          -else
            -1.upto(Choice::MAX_ALLOWED_CHOICES) do |i|
              %div
                %label{:for => "choice_#{i}"}#{i.ordinalize} choice
                %div
                  %input{:id => "choice_#{i}", :type => "text", :name => "choice_#{i}"}
                  -# @multiple_choice
                  %input{:name => "correct_answer", :class => 'correct_answer', :type => "radio", :value => "choice_#{i}"}
                  correct answer?


    .field.mt-20
      =f.label :description, 'Description (shown when the question is asked)'
      =f.text_area :description, style: 'height:60px;', class: 'form-control'

    .field.mt-20
      =f.label :image_url, 'Image URL (optional)'
      =f.text_field :image_url, class: 'form-control'

    .field.mt-20
      =f.label :explanation, 'Explanation (shown after the question is answered)'
      =f.text_area :explanation, style: 'height:60px;display:block;', class: 'form-control'

      -#-unless @test.videos.blank?
        Ask this question
        =f.text_field :pause_at, :style => 'width:20px;'
        seconds into the video.

      .actions
        =f.submit "Save question", class: 'btn btn-outline-dark'

:javascript
  $(document).ready(function(){

    // make sure a correct answer was selected.
    $('#new_question').submit(function() {
      if( $('#question_correct_response_2').is(':checked') ) {

        correct_answer_selected = false;
        $.each( $('.correct_answer'), function() {
          if( $(this).is(':checked') ) {
            correct_answer_selected = true;
          }
        });

        if( correct_answer_selected == false ) {
          alert('Please pick one of your answers as correct.');
          return false;
        }
      }
    });

    $('#question_correct_response_0').click(function() {
      $('#multiple_choices').hide('900');
      $('#short_answers').hide('900');
    });

    $('#question_correct_response_1').click(function() {
      $('#multiple_choices').hide('900');
      $('#short_answers').hide('900');
    });

    $('.short_answer').click(function() {
      $('#multiple_choices').hide();
      $('#short_answers').show('900');
      $('#short_answer').focus();
    });

    $('.multiple_choice').click(function() {
      $('#short_answers').hide();
      $('#multiple_choices').show('900');
      $('#choice_1').focus();
    });
  });
