- add_class = '' if local_assigns[:add_class].nil?

.card.replace-me{class: @question.slug}
  - if @already_taken
    = render partial: "questions/answer"
  - else
    .card-body

      -# %div
        / Question #{question_number} of #{@test.questions.length}:

      %h2.question-name
        = @question.name

      -if @question.description.present?
        %p
          = @question.description

      -if @question.image_url && !@question.image_url.blank?
        %div
          %img{:src => @question.image_url}

      %div{style: "padding:0;", id: "answer-box"}
        = form_with model: @question, method: :post, url: answer_test_question_path(@question.tst, @question), id: "answer-form" do |f|

          -if @question.kind == Question::TRUEFALSE
            = f.label :answer_true do
              = f.radio_button :answer, true, checked: false
              True

            = f.label :answer_false, {style: "display: block;"} do
              = f.radio_button :answer, false, checked: false
              False

          -elsif @question.kind == Question::SHORTANSWER
            %div{style: 'padding:10px 0;'}
              %input{type: 'text', name: 'short_answer', id: 'short_answer', autofocus: true}

          -else
            %div{style: 'padding:10px 0;'}
              -@question.choices.each_with_index do |choice, i|
                .form-check
                  %input.form-check-input{type: "radio", name: "choice_id", id: "choice_#{i}", value: choice.id}
                  %label.form-check-label{for: "choice_#{i}"}
                    = choice.name

          = submit_tag('Submit answer', id: 'submit_button', class: "btn btn-primary mt-20" )

          -# %div{:style => 'border: 1px solid red;'}
            / =link_to('comments', test_comments_path(@test.id, @test.to_param))
