%p Question #{@question_number} of #{@test.questions.length}:
%h2{:style => 'font-size:2em;'}= @question.name

-if @question.description
  %p= @question.description
-if @question.image_url && !@question.image_url.blank?
  %div
    %img{:src => @question.image_url}
  
%div{:style => "padding:0;"}
  %form#theForm
    %input{:type => 'hidden', :name => 'test_id', :value => "#{@test.id if @test}"}
    %input{:type => 'hidden', :name => 'question_id', :value => "#{@question.id if @question}"}
    %input{:type => 'hidden', :name => 'question_number', :value => @question_number}
    -if @take
      %input{:type => 'hidden', :name => 'take_id', :value => @take.id}
  
    -# PARTIALS for all this shit?
    -if @question.kind == Question::TRUEFALSE
      %div{:style => 'padding:10px 0 5px 0;'}
        %input#answer_true{:type => "radio", :name => "answer", :value => "true"}
        %label{:for => "answer_true", :style => "display:inline;"} true
      %div{:style => 'padding:5px 0 5px 0;'}
        %input#answer_false{:type => "radio", :name => "answer", :value => "false"}
        %label{:for => "answer_false", :style => "display:inline;"} false
    -elsif @question.kind == Question::SHORTANSWER
      %div{:style => 'padding:10px 0;'}
        %input{:type => 'text', :name => 'short_answer', :id => 'short_answer'}
      :javascript
        $(document).ready(function(){
          $('#short_answer').focus();
        });
    -else
      %ul#choices
        -@question.choices.each_with_index do |choice,i|
          %li>
            %input{:type => "radio", :name => "choice_id", :id => "choice_#{i}", :value => choice.id}
            %label{:for => "choice_#{i}", :style => "display:inline;"}= choice.name
    -if @question_number == 1 || (@take && @take.questions_answered > 0)
      =submit_tag('Submit answer', :id => 'submit_button', :style => 'margin:10px 0 0 0;')
      -if @question_number < @test.questions.length
        (<a href="#" id="skip">skip</a>)
    -else
      %div{:style => 'padding-top:20px;'}
        Want to take this test? Then
        %a{:href => '', :style => 'font-weight:bold;'}Go to the first question
    
    -# %div{:style => 'border: 1px solid red;'}
      =link_to('comments', test_comments_path(@test.id, @test.to_param))
      
      

-if @question_number <= @test.questions.length

  :javascript
    $(document).ready(function(){
      
      var state = $.bbq.getState();
      state['question'] = '#{@question.to_param}';
      $.bbq.pushState(state);
      
      $('#question_comment_link').attr( "href", '#{test_comments_path(@test.id, @test.to_param)}?question=#{@question.to_param}');
      
      $('#submit_button').click(function() {
        // validate. if valid...
        $.ajax({
          type: 'POST',
          url: '#{answer_path}',
          data: $('#theForm').serialize(),
          success: function(data) {
            #{render :partial => 'shared/scroll'}
          },
          error: function(data) {
            alert('fail!');
          }
        });
        return false;
      });
      
    });