/ %h1{:style => 'font-size:1.6em;'}
/   -if params[:a]
/     =@test.name
/   -else
/     =link_to(@test.name, test_path(@test.id, @test.to_param), :confirm => 'Are you sure? That will end your current test-taking session and bring you back to the start of the test.')
/ 
/ 
/ .questions
/   #question_pane
/     #answer
/ 
/       -if @more
/         %div{:style => 'float:right; font-size: 1.5em;'}
/           %a.question_link.green.button{:href => '#'}Next question &gt;
/           :javascript
/             #{render :partial => 'questions/next_question_js'}
/       
/       %h4
/         -if @response.correct
/           Correct!
/         - else
/           Wrong :-(
/       
/       %p><
/         = "The answer to the question "
/         / %strong<= @question.name
/         is
/         %strong
/           - if @question.correct_response == Choice::TRUE
/             true.
/           - elsif @question.correct_response == Choice::FALSE
/             false.
/           - elsif @question.is_multiple_choice || @question.is_short_answer
/             = @question.correct_choice.name
/         
/       
/         -if @question.explanation
/           %p{:style => 'padding:10px 0;'}= @question.explanation
/     
/     %p= "#{@correct_response_count} of #{@response_count} people (#{@percentage_correct} percent) answered this correctly"
/ 
/     %p= "You're tk for #{@question_number-1}, and have #{@test.questions.size + 1 - @question_number} questions left."
/ 
/     %p
/       %a.question_link{:href => '#'}Next question &gt;
/   
/     - unless @more
/       %p{:style => 'padding:10px 0;'} Thus endeth the test.
/       %h5
/         = link_to('View your results', individual_test_results_url(@test.id, @test.to_param, current_user.username, @take.id))
/   
/     =render :partial => 'shared/comments', :locals => {:comment => @comment, :comments => @question.root_comments}
/ 
/     :javascript
/       //  $(document).ready(function(){
/       //    var state = $.bbq.getState();
/       //    state[ 'view' ] = tab;
/       //    $.bbq.pushState( state );
/       //  });