-if params[:source]
  %h2{:style => 'padding-bottom:5px;'} One last step
  %p
    = "This will connect the #{params[:source].titleize} account below with Testeroni."

    %p{:style => 'border: 1px solid red; padding:10px; margin:10px;'} Your account shit here. Get from omni auth, or use koala for fb stuff if necessary.

    = "You'll be able to sign in using #{params[:source].titleize}."
    Please enter your
    = " email and choose a " if params[:source] != 'facebook'
    username to finish creating your account.
-else
  .row.sign_in
    .col-12.col-sm-10.col-md-8.col-lg-6.offset-lg-2
      %h2
        Sign up

      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

        - if params[:source]
          %p
            %label{:for => 'name'} Username
            %input{:type => 'text', :id => 'name', :name => "user[name]", :value => resource.username }
            - if resource.email.blank?
              %label{:for => 'email'} Email
              %input{:type => 'email', :id => 'email', :name => "user[email]", :value => resource.email }
            - else
              = f.hidden_field :email
        - else
          = devise_error_messages!

          .field.mt-20
            = f.label :name, "Name (shown on site)"
            = f.text_field :name, class: 'form-control'

          .field.mt-20
            = f.label :email
            = f.email_field :email, class: 'form-control'

        -# if @user.password_required?
        .field.mt-20
          = f.label :password
          = f.password_field :password, class: 'form-control'
          -#%p
            -#= f.label :password_confirmation
            -#= f.password_field :password_confirmation

        .actions
          = f.submit "Sign up", class: 'btn btn-outline-dark'

        .links
          = render :partial => "devise/shared/links"
