%h1
  -if @owner
    Hi,
  = @person.display_name

%h3{:style => 'padding:10px 0 0 0;'}= link_to 'Create a test!', new_test_path

%p{:style => 'padding:20px 0 0 0;'}tests created by #{@person.display_name}:

-if @person.tsts.blank?
  %p
    None, yet.
    -if user_signed_in? && @person.id == current_user.id
      Why don't you #{link_to 'create one', new_test_path}?
-else
  %ul.bulletless
    -@person.tsts.each do |t|
      %li
        =link_to t.name, test_path(t.id, t.to_param)
        -if t.user == current_user
          %span
            -unless t.published?
              %em<
                (unpublished)
            &nbsp;
            [
            -unless t.published?
              =link_to('publish', publish_test_path(t))
              |
            =link_to('results', test_results_path(t.id, t.to_param))
            |
            =link_to('edit', edit_test_path(t))
            |
            =link_to('delete', test_path(t.id, t.to_param), :method => :delete, :confirm => 'For real? This can never, ever be undone.')
            ]

%p{:style => 'padding:20px 0 0 0;'}tests taken by #{@person.display_name}:

-if @person.takes.blank?
  %p None, yet, but there are lots of great tests waiting for you on the #{link_to('home page', root_path)}.
-else
  %ul.bulletless
    -@person.takes.each do |t|
      -@test = Tst.find(t.tst_id)
      %li
        =link_to @test.name, test_path(@test.id, @test.to_param)
        -if t.user == current_user
          &nbsp;
          %span
            [
            -#=link_to('your results', individual_test_results_url(@test.id, @test.to_param, current_user.username, t.id))
            =link_to('your results')
            |
            =link_to('overall results', test_results_url(@test.id, @test.to_param))
            ]
            
%p{:style => 'font-style:italic;'}tests created by #{@person.display_name}'s friends:

%p{:style => 'font-style:italic;'}tests taken by #{@person.display_name}'s friends:
