-if params[:source]
  %h2{:style => 'padding-bottom:5px;'} One last step

  %img{:src => @picture, :style => 'float:left; padding-right:15px;'}

  %p
    ="This will connect the #{params[:source].titleize} account for"
    %strong= "#{@username}"
    with Testeroni.
  %div
    -#(Wrong account? Please
    -#= link_to_function('Click here', "FB.logout()", :style => 'font-weight:bold;')
    -#to log out of Facebook)

    -#= "You'll be able to sign in using #{params[:source].titleize}."

    %div.clearfix

    -if params[:source] == 'facebook'
      Please select a username to finish creating your account.
    -else
      Please enter your email and select a username to finish creating your account.
-else
  %h2 Sign up


=form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  -unless params[:source]
    =devise_error_messages!

  -if params[:return_to]
    %div= "return to: #{params[:return_to]}"
    %input{:type => 'hidden', :name => 'return_to', :value => params[:return_to] }

  %p
    -if params[:source]
      %label{:for => 'username'} Username
      %input{:type => 'text', :id => 'username', :name => "user[username]", :value => @username }

      -if resource.email.blank?
        %label{:for => 'email'} Email
        %input{:type => 'email', :id => 'email', :name => "user[email]", :value => resource.email }
      -else
        = f.hidden_field :email
    -else
      =f.label :name
      =f.text_field :name

      =f.label :email
      =f.email_field :email

  -#if @user.password_required?
    %p
      =f.label :password
      =f.password_field :password
    -#%p
      -#= f.label :password_confirmation
      -#= f.password_field :password_confirmation
  %p= f.submit "Sign up"

-#= render :partial => "devise/shared/links"
