-added_id ||= nil

#comments
  -unless comments.blank?
    %h5= "Comments on this #{((commentable.class == Tst) ? 'Test' : commentable.class.to_s).downcase}"
    %ul.bulletless
      -comments.each do |c|
        %li{:style => 'padding:0 0 15px 0'}
          - unless added_id.nil?
            -if added_id == c.id
              %div{:style => 'width:50%'}
                =render(:partial => 'shared/flash', :locals => {:flash => flash})
          %div #{time_ago_in_words(c.created_at)} ago #{link_to(c.username, people_path(c.user))} said:
          %div= "#{c.id} #{c.body}"
  %h5
    Add a comment for this
    =((commentable.class == Tst) ? 'Test' : commentable.class.to_s).downcase
  
  =form_for(comment) do |f|
    =f.hidden_field(:commentable_type)
    =f.hidden_field(:commentable_id)
  
    %div{:id => 'wmd-button-bar', :class => 'wmd-panel'}
    %div
      %textarea{:id => 'wmd-input', :class => 'wmd-panel', :name => 'comment_text', :style => 'width:500px;'}
    #wmd-preview.wmd-panel
    -#wmd-output.wmd-panel
    =f.submit
    
:javascript
  $(document).ready(function(){
    
    setup_wmd({
      input: "wmd-input",
      button_bar: "wmd-button-bar",
      preview: "wmd-preview",
      output: "wmd-output"
    });
    
    $('#new_comment').submit(function(){
      $.ajax({
        type: 'POST',
        url: '/comments',
        data: $('#new_comment').serialize(),
        success: function(data) {
          // some kind of flash that the new comment was added.
          $('#comments').html(data);
        },
        error: function(data){ alert('fail!'); }
      });
      return false;
    });
    
  });