-if user_signed_in?
  %h2= link_to 'Create a test right now', new_test_url
- else
  %p{:style => "padding:15px 0; font-size:1.2em;"}
    %strong< Testeroni
    lets you challenge yourself and others by making and taking surveys and tests.
    = link_to_function('JOIN NOW', "signupThenGoTo('')", :class => 'green button')
  %h2
    %a#signup_link Create a test right now

%h3{:style => 'padding:20px 0 5px 0;'} Recent tests
-if @tests.size > 0
  %ul.bulletless
    -@tests.each do |t|
      %li{:style => 'padding-bottom:15px;'}
        %h3
          -if user_signed_in?
            = link_to(t.name, test_url(t.id, t.to_param))
          - else
            = link_to_function(t.name, "signupThenGoTo('#{escape_javascript(test_path(t.id, t.to_param))}')")
        %div
          = "Has #{pluralize(t.questions.size, 'question')} and has been taken #{pluralize(t.takes.size, 'time')}."
          
          -unless t.grade.blank?
            with an average grade of #{t.grade}.
          
          -if user_signed_in?
            = link_to('Take this test.', test_url(t.id, t.to_param))
          - else
            = link_to_function('Take this test.', "signupThenGoTo('#{escape_javascript(test_path(t.id, t.to_param))}')")
          
- else
  %div{:style => 'font-style:italic;'} No tests created yet.