-#= render(:partial => 'registrations/services')
=link_to(image_tag("fbconnect_194x25.gif", :size => "194x25", :alt => "Sign in with Facebook", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:facebook))

%p{:style => 'padding-top:20px;'} Or if you created your account directly on Testeroni, use this form:
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email, 'Username or email'
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me, :style => 'display:inline;'
  %p{:style => 'padding-bottom:15px;'}= f.submit "Sign in"
  
= render :partial => "devise/shared/links"
