.row.sign_in
  .col-12.col-sm-10.col-md-8.col-lg-6.offset-lg-2
    %h2
      Sign in

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

      .field.mt-20
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

      .field.mt-20
        = f.label :password
        = f.password_field :password, autocomplete: "current-password", class: 'form-control'

      - if devise_mapping.rememberable?
        .mt-20
          = f.check_box :remember_me
          = f.label :remember_me, :style => 'display:inline;'

      .actions
        = f.submit "Sign in", class: 'btn btn-outline-dark'

    .links
      = render :partial => "devise/shared/links"
