= form_for(@test) do |f|

  -if @test.errors.any?
    #error_explanation
      %h2 #{pluralize(@test.errors.count, "error")} prohibited this test from being saved:
      %ul
        -@test.errors.full_messages.each do |msg|
          %li= msg


  .field.mt-20
    =f.label :name, 'Title'
    =f.text_field :name, autofocus: true, class: 'form-control'

  .field.mt-20
    =f.label :description, 'Description'
    =f.text_area :description, class: 'form-control'

    -#%h6{:style => 'padding:0 0 5px 0;'} Questions can be added to this test by:
    -#%div{:style => 'padding:0 0 5px 0;'}
      =f.radio_button :contributors, Tst::ANYONE
      =f.label :contributors_1, 'Anyone, anyone at all', :style => 'display:inline;'
    -#%div
      =f.radio_button :contributors, Tst::JUSTME
      =f.label :contributors_2, 'Just me', :style => 'display:inline;'
    -#
      / %p
      /   =f.label :tag_list, 'Tags (comma separated)'
      /   =f.text_field :tag_list

    -if @test.id.blank?
      .field.mt-20
        =f.label :video_url, 'Video (add an optional YouTube URL)'
        =f.text_field :video_url, class: 'form-control'

    -unless @test.id.blank?
      %p Videos associated with this test:
      -if @test.videos.blank?
        %p{:style => "font-style:italic;"} None right now. Add some.
      -else
        %ul
          -@test.videos.each do |video|
            %li="video: #{video.class}; #{video.name}"
  .actions
    = f.submit (@test.id.blank? ? "Create test" : "Edit test"), class: 'btn btn-outline-dark'
