%h1
  - if @test_page
    = @test.name
  - else
    = link_to @test.name, test_path(@test)

%div
  Created #{time_ago_in_words(@test.created_at)} ago by #{profile_link(@test.user)}

%div{:style => 'padding:0 0 10px 0;'}
  = pluralize(@test.questions.size, 'question')
  · taken
  = pluralize(@test.takes.size, 'time')

  -if @test.takes.size > 0
    ·
    average score #{@test.percent_correct}

  -# =link_to(pluralize(@test.root_comments.size, 'comment'), test_comments_path(@test.id, @test.to_param), :id => 'question_comment_link')

  -if @test.published?
    -if @test.active?
      / ·
      / = link_to 'share', "#", onclick: "$('#share_tools').toggle()"
      / ·
      / = link_to 'embed', "#", onclick: "$('#embed_header').toggle()"
      -if @owner
        ·
        =link_to('disable', disable_test_path(@test))
    -elsif @owner
      =link_to('enable', enable_test_path(@test))
  -else
    %em
      this test is not yet published
      = link_to 'publish', "#", class: "btn btn-xs btn-secondary ml-20"

  -if @owner
    = edit_link(edit_test_path(@test))
    = trash_link(test_path(@test), "Are you sure you want to delete the test #{@test.name}?")

  -#
    / %div{:id => 'share_tools', :style => 'display:none; width:520px;'}
    /   %label{:for => 'share_link'} Link to this test
    /   %input{:id => 'share_link', :type => 'text', :value => test_url(@test.id, @test.to_param)}
    /   %p
    /     %div{:style => 'float:right;'}
    /       =link_to '[x] close', "#", onclick: "$('#share_tools').toggle()"
    /     fb like, tweet, txt, mail, etc.

    / %div{:id => 'embed_header', :style => 'display:none; padding-top:10px; width:520px;'}
    /   %textarea{:id => 'embed_test', :style => 'height:50px;'}= embed_code(@test)
    /   .caption
    /     After making your selection, copy and paste the embed code above. The code changes based on your selection.
    /     %div{:style => 'padding:5px 0 0 0; float:right;'}
    /       = link_to '[x] close', "#", onclick: "$('#embed_header').toggle()"

- if @test.description.present?
  %div
    = @test.description
