%div{:style => 'padding:0; margin:-20px 0 0 0'}= @test.description

%div
  - one_line do
    This test has #{pluralize(@test.questions.size, 'question')}#{(@test.takes.size > 0) ? ',' : ' and'} has been taken #{pluralize(@test.takes.size, 'time')}
    -if @test.takes.size > 0
      =", and has an average grade of "
      %strong= @test.grade

%div{:style => 'padding:40px 0;'}
  %a#start{:class => 'green button'} Start the test!
  
%div
  %a view the questions
  |
  %a view the answers
  |
  %a view results data  
  
  -if @take
    -@next_question_url = question_path(@test.questions[(@question_number-1)], :test_id => @test.to_param, :question_number => @question_number, :take_id => @take.id)
  -else
    -@next_question_url = question_path(@test.questions[(@question_number-1)], :test_id => @test.to_param, :question_number => @question_number)

  :javascript
    #{render :partial => 'shared/next_question', :locals => {:url => @next_question_url, :bound_link => '#start'}}