%h1>
  Editing
  %em= @test.name

=render :partial => 'form'

.questions
  %h4{:style => 'padding:20px 0 5px 0;'}>
    This test's questions
    %span{:style => 'font-weight:normal;'}= link_to('[ Add question ]', new_question_path(:test_id => @test.to_param))
  -unless @test.questions.blank?
    %ol#questions
      -@test.questions.each do |q|
        %li
          %em
            "#{q.name}"
          %span
            [
            = link_to('Edit', edit_question_path(q, :test_id => @test.to_param))
            |
            = link_to('Delete', question_path(q, :test_id => @test.to_param), :method => :delete, :confirm => "For sure? That's permanente.")
            ]
          -unless q.description.blank?
            %div= q.description