.row.sign_in
  .col-12.col-sm-10.col-md-8.col-lg-6.offset-lg-2
    %h2
      Editing
      %em
        = link_to @test.name, test_path(@test)

    = render partial: 'form', locals: {form_url: test_path(@test)}

    .questions
      %h4{:style => 'padding:40px 0 5px 0;'}>
        Questions
        = link_to 'Add question', new_test_question_path(@test), class: "btn btn-primary ml-10 mr-10 btn-sm"
        %span
          = link_to 'Done', test_path(@test)

      -unless @test.questions.blank?
        -# previous data-update-=url: update_positions_lists_items_path(@list)
        - question_attributes = { class: 'sortable-items', 'data-role': 'sortable_items', 'data-update-url': update_positions_test_questions_path(@test) }

        .list-group{ question_attributes }
          -@test.questions.each do |question|
            .list-group-item.list-group-item-action.has-hover-items.sortable-item{ 'data-item-id': question.id }
              .float-right
                %span.hover-item
                  = edit_link(edit_test_question_path(@test, question))
                  = trash_link(test_question_path(@test, question), "Are you sure you want to delete the question #{question.name}?")

              = question.name

              -unless question.description.blank?
                %div
                  = question.description
