=render(:partial => 'tsts/header')

%p{:style => 'padding-bottom:20px;'}
  Test results for: #{@user.name}, taken #{@take.finished_at}

%ul.bulletless

  - if @take
    %ol
      -#-@take.responses.each do |r|
      -@test.questions.each do |question|
        %li{:style => 'padding-bottom:10px;'}
          %div
            Question:
            %em= question.name
          -if question.image_url
            %div
              %img{:src => question.image_url}
          -r = Response.where(['take_id=? AND question_id=?', @take.id, question.id]).first
          -if r.nil?
            %div
              %em No response
          -else
            %div
              your answer:
              -if r.answer == true
                true
              -elsif r.answer == false
                false
              -elsif r.question.kind == Question::SHORTANSWER
                = r.name
              -else
                = r.choice.name
            -if r.correct
              %strong
                CORRECT!
            -else
              %strong
                Sorry, wrong.
              The correct answer is:
              -if r.question.kind == Question::TRUEFALSE
                =(r.question.correct_response == 1) ? 'true' : 'false'
              -else
                =r.question.correct_choice.name
