=render(:partial => 'tsts/header')

.questions
  #question_pane
    -if @owner
      -if !@test.has_questions?
        %h2= link_to('Add the first question', new_question_path(:test_id => @test.to_param))
      -elsif params[:a]
        #added.notice{:style => 'font-size:1.2em;'}
          %a{:id => "close-added", :style => 'float:right;'}>
            [x]
          %h4{:style => 'padding-bottom:10px;'} Question successfully added
          %p{:style => 'padding-bottom:10px;'}
            #{link_to('Add another question', new_question_path(:test_id => @test.id), :style => 'text-decoration:underline;font-weight:bold;')}
            
            -unless @test.published?
              or #{link_to('publish the test', publish_test_path(@test), :style => 'text-decoration:underline;font-weight:bold;')} when you're done adding questions.
              %p Once it's published you can let your friends know about it, and people can start taking it.

          :javascript
            $(document).ready(function(){
              $('#close-added').bind('click', function() {
                $('#added').effect('fade');
              });
            });
        
        %p Thee questions so far:
        %ol
          -@test.questions.each do |q|
            %li{:style => 'margin-left:20px;'}= q.name
            
    -if @test.has_questions? && @test.published? && @test.active?
      -if @question
        =render(:partial => 'questions/show')
      -else
        %div
          =submit_tag('Start the test!', :class => 'green button', :style => 'height:35px; font-size:1.3em;', :id => 'start')
          -if @test.questions.size > 1
            =check_box_tag(:randomize)
            =label_tag(:randomize, 'Questions in random order?', :style => 'display:inline;')
          
          -#  
            :javascript
              $(document).ready(function(){
                $('#start_form').submit(function() {
                  $(this).serialize();
                  return false;
                });
              });
            
          :javascript
            $(document).ready(function(){
              $('#start').bind('click', function() {
                if( $('#randomize').is(':checked') ) {
                  url = '#{@next_question_url}&randomize=1'
                } else {
                  url = '#{@next_question_url}'
                }
                $.get(url, function(data) {
                  #{render :partial => 'shared/scroll'}
                });
              });
            });
            
      -#=render :partial => 'shared/comments', :locals => {:commentable => @test, :comment => @comment, :comments => @test.root_comments}
    -elsif @test.inactive?
      %em Sorry, this test is currently inactive.
      
-unless @test.videos.blank?
  #left_col
  -@test.videos.each do |v|
    %div
      "<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/#{v.provider_id}"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/#{v.provider_id}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>"

#pusher>
  &nbsp;

:javascript
  $(document).ready(function(){
    question = $.bbq.getState( 'question', true ) || '';
    if( question != '') {
      $.get('/questions/'+question+'?test_id=#{@test.to_param}', function(data) {
        #{render :partial => 'shared/scroll'}
      });
    }

  });