-added_id ||= nil

#comments

  - unless added_id.nil?
    :javascript
      $('##{added_id}').effect('highlight', {}, 3000);

  =form_for(comment) do |f|

    %div{:style => 'padding:15px 0;'}
      -if commentable.class == Tst
        Comment on
        %select{:name => 'question_id'}
          %option this test
          -commentable.questions.each do |q|
            -if params[:question] && params[:question] == q.to_param
              %option{:value => q.id, :selected => 'true'}= "Q: #{q.name}"
            -else
              %option{:value => q.id}= "Q: #{q.name}"

      -else
        ="Add a comment for this #{commentable.class.to_s.downcase}"

    =f.hidden_field(:commentable_type)
    =f.hidden_field(:commentable_id)

    %div{:id => 'wmd-button-bar', :class => 'wmd-panel'}
    %div
      %textarea{:id => 'wmd-input', :class => 'wmd-panel', :name => 'comment_text', :style => 'width:500px;height:90px;'}
    #wmd-preview.wmd-panel
    -#wmd-output.wmd-panel
    =f.submit('add comment')
  -unless comments.blank?
    %ul.bulletless{:style => 'padding:20px 0 0 0;'}
      -comments.each do |c|
        %li{:style => 'padding:0 0 15px 0'}
          %div{:id => c.id}
            #{time_ago_in_words(c.created_at)} ago #{link_to(c.name, person_path(c.user))} said:
          %div= c.body
:javascript
  $(document).ready(function(){

    setup_wmd({
      input: "wmd-input",
      button_bar: "wmd-button-bar",
      preview: "wmd-preview",
      output: "wmd-output"
    });

    $('#new_comment').submit(function(){
      $.ajax({
        type: 'POST',
        url: '/comments',
        data: $('#new_comment').serialize(),
        success: function(data) {
          // some kind of flash that the new comment was added.
          $('#comments').html(data);
        },
        error: function(data){ alert('fail!'); }
      });
      return false;
    });

  });
