%p Results of the test
%h1= link_to(@test.name, test_path(@test))
%p{:style => 'padding-top:20px;'} for: #{@user.username}:

%p= @take.responses.size

%ul.bulletless

  - if @take
    %ol
      -@take.responses.each do |r|
        %li
          %div
            Question:
            %em= r.question.name
          %div
            your answer:
            -if r.answer == true
              true
            -elsif r.answer == false
              false
            -else
              = "r.answer: #{r.answer}"
          -if r.correct
            %strong
              CORRECT!
          -else
            %strong
              Sorry, wrong.
            The correct answer is: 
            -if r.question.kind == Question::TRUEFALSE
              =(r.question.correct_response == 1) ? 'true' : 'false'
            -else
              =r.choice.name