%h1{:style => 'font-size:1.6em;'}
  = link_to(@test.name, test_path(@test.id, @test.to_param), :confirm => 'Are you sure? That will end your current test-taking session and bring you back to the start of the test.')
  
-unless @test.description.blank?
  %p= @test.description

.questions
  #question_pane
    -if @owner
      -if !@test.has_questions?
        %h2= link_to('Add the first question', new_question_path(:test_id => @test.to_param))
      -elsif params[:a]
        #added.notice{:style => 'font-size:1.2em;'}
          %a{:id => "close-added", :style => 'float:right;'}>
            [x]
          %h4{:style => 'padding-bottom:10px;'} Question successfully added
          %p{:style => 'padding-bottom:10px;'}
            #{link_to('Add another question', new_question_path(:test_id => @test.id), :style => 'text-decoration:underline;font-weight:bold;')}
            
            -unless @test.published?
              or #{link_to('publish the test', publish_test_path(@test), :style => 'text-decoration:underline;font-weight:bold;')} when you're done adding questions.
              %p Once it's published you can let your friends know about it, and people can start taking it.

          :javascript
            $(document).ready(function(){
              $('#close-added').bind('click', function() {
                $('#added').effect('fade');
              });
            });

    -if @test.has_questions? && @test.published?
      
      -# ajax the first one in, like all the rest?
      = render(:partial => 'questions/show')
  
-unless @test.videos.blank?
  #left_col
  -@test.videos.each do |v|
    %div
      "<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/#{v.provider_id}"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/#{v.provider_id}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>"

#pusher>
  &nbsp;
  
