%nav.top-nav.navbar.navbar-expand-sm.navbar-light
  %a.navbar-brand#logotype{:href => "/"}
    Testeroni

  -# burger
  %button.navbar-toggler{"aria-controls": "navbar-dropdown", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbar-dropdown", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon

  #navbar-dropdown.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto

      - if user_signed_in?
        %li.nav-item.mr-20
          = link_to 'Create a test', new_test_url, class: "btn btn-primary"

        %li.nav-item
          = link_to 'My tests', person_tests_path(current_user.id), class: "nav-link"

        %li.nav-item.dropdown
          %a#profile-dropdown.nav-link.dropdown-toggle{"href" => "", "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
            = current_user.name

          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "profile-dropdown"}
            - if true #current_user.is_admin?
              = link_to 'Admin', "#", class: 'admin dropdown-item'
            = link_to 'Profile', person_path(current_user.id, current_user.to_param), class: 'dropdown-item'
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'

      - else
        %li.nav-item
          %b
            = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Sign in', new_user_session_path, class: 'nav-link'
