!!! 5
%html{'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title= @title ||= 'Testeroni'
    
    %meta{:name => 'description', :content => 'A platform for casual and fun learning. Make and take tests your own tests. Answers can be multiple choice or true/false, and tests can be shared and embedded.'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    
    %meta{:property => 'og:site_name', :content => 'Testeroni.com'}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:email', :content => 'john@testeroni.com'}
    %meta{:property => 'fb:app_id', :content => 'efa7a0626a2203b5d4ca475d7a10c322'}
    
    -if @test && @test.id
      %meta{:property => 'og:title', :content => url_escape(@test.name)}
      %meta{:property => 'og:url', :content => test_url(@test.id, @test.to_param)}
    
    =stylesheet_link_tag(:flutie, 'testeroni', 'jquery-ui-1.8.6.custom',  :cache => true)
    
    =javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    =javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js')
    =csrf_meta_tag
    
  %body
    #header
      .right
        .user
          -if user_signed_in?
            hello #{link_to current_user.username, people_path(url_escape(current_user.username))}
            |
            #{link_to 'logout', destroy_user_session_path}
          -else
            = link_to_function('Join Now.', "signupThenGoTo('')")
            &nbsp; Already a member?
            = link_to('Log in', new_user_session_path)
        .search
          =form_tag(search_path) do
            %input{:type => 'text', :id => 'q', :name => 'q', :value => 'search tests', :onclick => "this.value=''; this.style.color='#000'",  :style => 'width:120px; height:10px; color:#ddd'}
      #logotype
        -if request.path == '/'
          Testeroni
        -else
          %a{:href => '/'}<
            Testeroni
    #container
      =render(:partial => 'shared/flash', :locals => {:flash => flash})
      =yield
    #footer
      =link_to('about', about_path)
      &#183;
      =link_to('contact', contact_path)
      &#183;
      %a.twitter-share-button{:href => "http://twitter.com/share", 'data-count' => "none", 'data-via' => "besteroni"} Tweet
      %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
      
    - if @user
      #signup.roundborder{:style => 'display:none'}
        %div.dismiss
          %a.close [x]
        .account
          %p{:style => 'padding:0 0 20px 0;'}
            Already have an account?
            = link_to('Log in', new_user_session_path)
          %h2 Create an account with Facebook or Twitter
          = render(:partial => 'authentications/services', :locals => {:redirect_to => new_test_path})
          .clearfix
          %h3>
            or
            %a#use_email{:href =>"#"}use your email
        .account{:style => 'display:none;'}
          %h4 Create an account
          = form_for(@user, :url => registration_path(@user)) do |f|
            -#= devise_error_messages!
            %input#redirect_to{:type => 'hidden', :name => 'redirect_to', :value => ''}/
            %p= f.label :username
            = f.text_field :username
            %p= f.label :email
            = f.text_field :email
            %p= f.label :password
            = f.password_field :password
            -#%p= f.label :password_confirmation, 'Again with the password, please'
            -#= f.password_field :password_confirmation
            %p{:style => 'padding-top:8px;'}
              #{f.check_box :email_list, {}, 'true', 'false'} Get email updates from Testeroni
            .submit
              = f.submit "Sign up", :class => 'btn'
              &nbsp;
              = link_to_function('Cancel', "$('.account').toggle()")

        -# Is there a way to tell signup where to go next?
        -# In this case, should go to test#new page.
        -#= render :partial => "devise/shared/links"

    #fb-root/
    =javascript_include_tag('rails')
    =javascript_include_tag 'jquery.lightbox_me.js'
    =javascript_include_tag("jquery.ba-bbq.min.js")
    =javascript_include_tag("/wmd/wmd.js")
    =javascript_include_tag("/wmd/showdown.js")
    -# =javascript_include_tag("/showdown-v0.9/compressed/showdown.js")
    -#%script{:src => 'http://sstatic.net/Js/wmd.js?v=438bf97578da', :type => 'text/javascript'}
    
    :javascript
    
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');

      function signupThenGoTo(url) {
        // redirect only works for people using the traditional signup form.
        // need something that works with auth services too -- session? cookie?
        $('#redirect_to').val(url);
        
        $('#signup').lightbox_me({
            centered: true,
            overlaySpeed:200,
            lightboxSpeed:200,
            overlayDisappearSpeed:200,
            onLoad: function() { 
              $('#user_username').focus()
            }
          });
        return false;
      }

      $(document).ready(function() {
        $('#use_email').click(function() {
          $('.account').toggle();
          $('#user_username').focus();
        });
        
        // this belong on the index page only, and should be put in a content_for
        $('#signup_link').click(function() {
          signupThenGoTo('#{new_test_path}');
        });
        
      });
      
      window.fbAsyncInit = function() {
        FB.init({	appId: 'efa7a0626a2203b5d4ca475d7a10c322',
        status: true,
        cookie: true,
        xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());