!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title= @title ||= 'Testeroni'
    
    %meta{:name => 'description', :content => 'A platform for casual and fun learning. Make and take tests your own tests. Answers can be multiple choice or true/false, and tests can be shared and embedded.'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    
    =stylesheet_link_tag(:flutie, 'testeroni', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/start/jquery-ui.css',  :cache => false)
    =javascript_include_tag('http://use.typekit.com/jxe0dey.js')
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    =javascript_include_tag('http://www.google.com/jsapi?key=ABQIAAAAnohM6sqTs6drjmtNvnIyhBQX4KEUxjBL_ZDpzqYIgEd3Cy73NxTBwcj0akdZnV23u8exfLERTanWEw')
    :javascript
      if(typeof google === 'undefined') {
        document.write('<script type="text/javascript" src = "/javascripts/jquery.min.js"><\/script>');
        document.write('<script type="text/javascript" src = "/javascripts/jquery-ui.min.js"><\/script>');
        document.write('<script type="text/javascript" src = "/javascripts/swfobject.js"><\/script>');
      } else {
        google.load("jquery", "1.5.1");
        google.load("jqueryui", "1.8.11");
        google.load("swfobject", "2.2");
      }
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20111813-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    -# for the stackoverflow-based text editor.
    -# combine all these in prod, plus the shit at the bottom of this template too
    =javascript_include_tag("/wmd/wmd.js")
    =javascript_include_tag("/wmd/showdown.js")
    =csrf_meta_tag
    
  %body
    -# TODO: add controller and style support for this
    -if @promo
      #promo{:style => 'display:none;'}
        .notice
          .promo_close
            -#= link_to_function('x', "Tstrni.promo.hide();")
            = link_to_function('x', "Tstrni.hide_promo();")
          != @promo[:message]
        
    #head-wrap
      #header
        .right
          .user
            -if user_signed_in?
              hello #{link_to current_user.display_name, person_with_name_path(current_user.id, current_user.slugged_display_name)}
              |
              #{link_to 'logout', destroy_user_session_path}
            -else
              = link_to_function('Join Now.', "Tstrni.viewSignup()")
              &nbsp; Already a member?
              -#= link_to('Log in', new_user_session_path)
              = link_to_function('Log in', "Tstrni.viewLogin()")
          .search
            =form_tag(search_path) do
              %input{:type => 'text', :id => 'q', :name => 'q', :value => 'search tests', :onclick => "this.value=''; this.style.color='#000'"}
        #logotype
          -if request.path == '/'
            Testeroni
          -else
            %a{:href => '/'}<
              Testeroni
          %span{:style => 'font-size:.4em'}
            a free site for making and taking tests
              
    #container
      =render(:partial => 'shared/flash', :locals => {:flash => flash})
      
      =yield
      
    #foot-wrap
      #footer
        %table{:style => 'width:120px;'}
          %tr
            %td{:style => 'border:0;'}
              =link_to('about', about_path)
            %td{:style => 'border:0;'}
              &#183;
            %td{:style => 'border:0;'}
              =link_to('contact', contact_path)
            %td{:style => 'border:0;'}
              &#183;
            %td{:style => 'border:0;'}
              =link_to('blohg', blohg_path)
            -#%td{:style => 'border:0;'}
            -#  %a.twitter-share-button{:href => "http://twitter.com/share", 'data-count' => "none", 'data-via' => "besteroni"} Tweet
            
        %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
      
    - if @user
      #signup.roundborder{:style => 'display:none'}
        %div.dismiss
          %a.close [x]
        .account.login
          %p
            Already have an account?
            -#= link_to('Log in', new_user_session_path)
            = link_to_function('Log in', "$('.login').toggle()")
          %h3 Create an account
          %div
          
          
          
            .show_oauth{:style => 'width:210px; float:left; text-align:left;'}
              =link_to(image_tag("fbconnect_194x25.gif", :size => "194x25", :alt => "Sign in with Facebook", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:facebook))
            -# TODO: signup via twitter is borked, it needs to be passed an email. Comment out for now.
            -#.show_oauth{:style => 'width:160px; float:left; text-align:left; vertical-align:top;'}
              =link_to_function('or sign up using Twitter', "$('.show_oauth').toggle()")
              =link_to_function(image_tag('twitter_icon.png', :style => 'vertical-align:top;padding:0 0 0 5px;'), "$('.show_oauth').toggle()")
              
            .show_oauth{:style => 'display:none;'}
              %div{:style => 'padding:0 0 4px 0;'}
                Enter your email then click
                %strong Sign in with Twitter
              %input#email{:type => 'text', :name => 'email', :value => 'your email', :onclick => "this.value=''; $('#email').css('color','#000');", :style => 'width:150px; height:12px; color:#777'}

              .twitter{:style => 'padding-top:20px;'}
                =link_to(image_tag("twitter_signin.png", :size => "151x24", :alt => "Twitter", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:twitter), :id => 'twitter-link')
                %a{:onclick => "$('.show_oauth').toggle();", :style => 'font-size:.9em;'} cancel
                
                
                
                
          .clearfix
          #no_oauth.show_oauth>
            Don't have a Facebook account?
            %a#use_email{:href =>"#"} Use your email
        .account{:style => 'display:none;'}
          %h4 Create an account
          = form_for(@user, :url => registration_path(@user)) do |f|
            -#= devise_error_messages!
            = f.label :display_name, "Full name (will appear on you public profile)"
            = f.text_field :display_name, :style => 'width:80%;'
            = f.label :password
            = f.password_field :password, :style => 'width:80%;'
            = f.label :email
            = f.text_field :email, :style => 'width:80%;'
            %div
              %div{:style => 'float:right; padding-top:15px;'}
                = link_to_function('Cancel', "$('.account').toggle()")
              .submit
                = f.submit "Sign up", :class => 'btn'
                -#{f.check_box :email_list, {}, 'true', 'false'} Get email updates from Testeroni
        .login{:style => 'display:none;'}
          %p
            Haven't signed up yet?
            = link_to_function('Create a new account', "$('.login').toggle()")
          %h3 Log in
          =link_to(image_tag("fbconnect_194x25.gif", :size => "194x25", :alt => "Twitter", :style => 'padding:0 10px 0 0; margin:0;'), user_omniauth_authorize_path(:facebook))
          -#=link_to(image_tag("twitter_signin.png", :size => "151x24", :alt => "Twitter", :style => 'padding:0; margin:0;'), user_omniauth_authorize_path(:twitter))
          
          %div{:style => 'padding:15px 0 0 0;'} Or if you created your account with you email, log in below:
          = form_for(@user, :url => session_path(@user)) do |f|
            = f.label :email, 'email'
            = f.email_field(:email, :style => 'width:300px;')
            = f.label :password
            = f.password_field(:password, :style => 'width:300px;')
            -#- if devise_mapping.rememberable?
              %p
                = f.check_box :remember_me
                = f.label :remember_me, :style => 'display:inline;'
            %p{:style => 'padding-bottom:15px;'}= f.submit "Sign in"

          -#= render :partial => "devise/shared/links"
          
        .caption.login{:style => 'padding-top:25px;'}
          By creating an account on Testeroni you are indicating that you
          %br have read and agree to the #{link_to('Terms of Service', terms_path)}
    =javascript_include_tag('rails')
    =javascript_include_tag 'jquery.lightbox_me.js'
    =javascript_include_tag('jquery.ba-bbq.min.js')
    =javascript_include_tag('tstrni.js')
    
    -if @promo
      :javascript
        google.setOnLoadCallback(function() {
          //setTimeout('Tstrni.promo.show', 500);
          setTimeout('Tstrni.show_promo()', 1500);
        })
      
    :javascript
    
      var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
      
      $(document).ready(function() {
      
        $('#twitter-link').click(function() {
          var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
          if(reg.test($('#email').val()) == false) {
            alert('please enter a valid email address.');
            return false;
          } else {
            document.cookie='email=' + $('#email').val() + '; path=/\;';
          }
        });
        
        $('#use_email').click(function() {
          $('.account').toggle();
          $('#user_username').focus();
        });
        
      });